.content-div {
    padding: 1.5em;
}

.desc1 {
    color: #333132;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;

}

.desc2 {
    color: #7c7c7c;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    background-color: #e9ebff
}

.content-div h1 {
    color: #333132;
    font-size: 1.5rem;
}

body {
    background-color: white;

}

.icon {
    width: 60px;
    height: auto;
}






@media screen and (max-width:990px) {
    .content-div {
        text-align: center;

    }

    .content-div .desc1,
    .desc2 {
        text-align: center;
    }
}

@media screen and (min-width:990px) {
    .service-reverse {
        flex-direction: row-reverse;
    }

}